// Add your custom CSS here.
@media(min-width: 767px) {
  .header__toggler {
    display: none !important;
  }
}
.header__nav a:hover {
  background: none;
  color: #CF7D7D;
  border-bottom: 1px solid #CF7D7D;
  border-radius: 0px;
}
